<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>667764541707-u1qs4quiupj3qj9oqkrvg9tr6i587j5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667764541707-u1qs4quiupj3qj9oqkrvg9tr6i587j5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBSMDI5OelSmiHZO7ZGGsKTR245uqxmeKM</string>
	<key>GCM_SENDER_ID</key>
	<string>667764541707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Viktor</string>
	<key>PROJECT_ID</key>
	<string>youtube-network2</string>
	<key>STORAGE_BUCKET</key>
	<string>youtube-network2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:667764541707:ios:65b1f0a3effec0b5</string>
	<key>DATABASE_URL</key>
	<string>https://network2.firebaseio.com</string>
</dict>
</plist>
